USE [SHOPLONG5]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[address_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [varchar](20) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartid] [int] IDENTITY(1,1) NOT NULL,
	[common_id] [int] NOT NULL,
	[create_at] [varchar](255) NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NULL,
	[create_at] [varchar](200) NULL,
	[isActive] [bit] NULL,
	[cate_url] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content_aboutus]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content_aboutus](
	[contentid] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[create_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[contentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discountid] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[start_at] [varchar](50) NULL,
	[end_at] [varchar](50) NULL,
	[product_detail_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[discountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[feature_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupAccounts]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupAccounts](
	[group_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[createat] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupFeatures]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupFeatures](
	[group_id] [int] NOT NULL,
	[feature_id] [int] NOT NULL,
	[createat] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[groupName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_detail_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[image_url] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status_order] [varchar](50) NOT NULL,
	[order_date] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[orderdetail_id] [int] IDENTITY(1,1) NOT NULL,
	[common_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[total_unit_price] [decimal](10, 2) NULL,
	[orderid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderdetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Details]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Details](
	[product_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[price] [float] NULL,
	[stock] [int] NULL,
	[category_id] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[create_at] [varchar](200) NULL,
	[isActive] [bit] NULL,
	[isSale] [bit] NULL,
	[brand_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[common_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [text] NULL,
	[review_date] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size_Color_Stock]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size_Color_Stock](
	[common_id] [int] IDENTITY(1,1) NOT NULL,
	[size_id] [int] NULL,
	[color_id] [int] NULL,
	[quantity_stock] [int] NULL,
	[product_detail_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[common_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/28/2024 5:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[displayName] [nvarchar](50) NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](200) NULL,
	[avatar_url] [varchar](200) NULL,
	[create_at] [varchar](200) NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name], [isActive]) VALUES (1, N'LEVI''S', 1)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [isActive]) VALUES (2, N'ADIDAS', 1)
INSERT [dbo].[Brand] ([brand_id], [brand_name], [isActive]) VALUES (3, N'NIKE', 1)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [create_at], [isActive], [cate_url]) VALUES (1, N'Shoe', NULL, 1, N'shoe.jpg')
INSERT [dbo].[Categories] ([category_id], [category_name], [create_at], [isActive], [cate_url]) VALUES (2, N'Glasses', NULL, 1, N'glasses.jpg')
INSERT [dbo].[Categories] ([category_id], [category_name], [create_at], [isActive], [cate_url]) VALUES (3, N'Clothes', NULL, 1, N'clothes.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([color_id], [color_name]) VALUES (1, N'Red')
INSERT [dbo].[Colors] ([color_id], [color_name]) VALUES (2, N'Blue')
INSERT [dbo].[Colors] ([color_id], [color_name]) VALUES (3, N'Pink')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([feature_id], [url]) VALUES (1, N'/home')
INSERT [dbo].[Features] ([feature_id], [url]) VALUES (2, N'/about')
INSERT [dbo].[Features] ([feature_id], [url]) VALUES (3, N'/contact')
SET IDENTITY_INSERT [dbo].[Features] OFF
GO
INSERT [dbo].[GroupAccounts] ([group_id], [username], [createat]) VALUES (2, N'longnk', NULL)
GO
INSERT [dbo].[GroupFeatures] ([group_id], [feature_id], [createat]) VALUES (1, 1, NULL)
INSERT [dbo].[GroupFeatures] ([group_id], [feature_id], [createat]) VALUES (1, 2, NULL)
INSERT [dbo].[GroupFeatures] ([group_id], [feature_id], [createat]) VALUES (1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([group_id], [groupName]) VALUES (1, N'customer')
INSERT [dbo].[Groups] ([group_id], [groupName]) VALUES (2, N'admin')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([image_id], [product_detail_id], [color_id], [image_url]) VALUES (1, 1, 1, N'p111.jpg')
INSERT [dbo].[Images] ([image_id], [product_detail_id], [color_id], [image_url]) VALUES (2, 1, 1, N'p112.jpg')
INSERT [dbo].[Images] ([image_id], [product_detail_id], [color_id], [image_url]) VALUES (3, 1, 1, N'p113.jpg')
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Details] ON 

INSERT [dbo].[Product_Details] ([product_detail_id], [product_name], [price], [stock], [category_id], [description], [create_at], [isActive], [isSale], [brand_id]) VALUES (1, N'Air Jordan 1 Low SE', 1000, NULL, 1, N'Here''s some straightforward, good-looking AJ1s. Were you expecting anything less? Crafted from crisp leather, they feature comfortable Nike Air cushioning in the sole. An embroidered Swoosh logo puts the finishing touch on this all-time favourite.', NULL, 1, 0, 3)
INSERT [dbo].[Product_Details] ([product_detail_id], [product_name], [price], [stock], [category_id], [description], [create_at], [isActive], [isSale], [brand_id]) VALUES (2, N'Nike Air Force 1 ''07', 900, NULL, 1, N'The radiance lives on in the Nike Air Force 1 ''07, the basketball original that puts a fresh spin on what you know best: durably stitched overlays, clean finishes and the perfect amount of flash to make you shine.', NULL, 1, 0, 3)
SET IDENTITY_INSERT [dbo].[Product_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Size_Color_Stock] ON 

INSERT [dbo].[Size_Color_Stock] ([common_id], [size_id], [color_id], [quantity_stock], [product_detail_id]) VALUES (1, 4, 1, 100, 1)
INSERT [dbo].[Size_Color_Stock] ([common_id], [size_id], [color_id], [quantity_stock], [product_detail_id]) VALUES (2, 5, 1, 80, 1)
INSERT [dbo].[Size_Color_Stock] ([common_id], [size_id], [color_id], [quantity_stock], [product_detail_id]) VALUES (3, 6, 1, 9, 1)
SET IDENTITY_INSERT [dbo].[Size_Color_Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([size_id], [size_name]) VALUES (1, N'38')
INSERT [dbo].[Sizes] ([size_id], [size_name]) VALUES (2, N'39')
INSERT [dbo].[Sizes] ([size_id], [size_name]) VALUES (3, N'40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
INSERT [dbo].[Users] ([username], [password], [displayName], [phone_number], [email], [avatar_url], [create_at], [isActive]) VALUES (N'longnk', N'123', N'Nguyen Khac Long', NULL, NULL, NULL, NULL, 1)
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Product_Details] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Product_Details] ADD  DEFAULT ((0)) FOR [isSale]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([common_id])
REFERENCES [dbo].[Size_Color_Stock] ([common_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Content_aboutus]  WITH CHECK ADD FOREIGN KEY([create_by])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[Product_Details] ([product_detail_id])
GO
ALTER TABLE [dbo].[GroupAccounts]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([group_id])
GO
ALTER TABLE [dbo].[GroupAccounts]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[GroupFeatures]  WITH CHECK ADD FOREIGN KEY([feature_id])
REFERENCES [dbo].[Features] ([feature_id])
GO
ALTER TABLE [dbo].[GroupFeatures]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([group_id])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[Product_Details] ([product_detail_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([common_id])
REFERENCES [dbo].[Size_Color_Stock] ([common_id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([orderid])
REFERENCES [dbo].[order] ([orderid])
GO
ALTER TABLE [dbo].[Product_Details]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product_Details]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([common_id])
REFERENCES [dbo].[Size_Color_Stock] ([common_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Size_Color_Stock]  WITH CHECK ADD FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Size_Color_Stock]  WITH CHECK ADD FOREIGN KEY([product_detail_id])
REFERENCES [dbo].[Product_Details] ([product_detail_id])
GO
ALTER TABLE [dbo].[Size_Color_Stock]  WITH CHECK ADD FOREIGN KEY([size_id])
REFERENCES [dbo].[Sizes] ([size_id])
GO
